@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.link-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.link-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    overflow: hidden;
    border-radius: 2.5em / 2.5em;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 1px rgba(245, 245, 245, 1);
}
a {
    text-decoration: none;
    color: black;
    display: inherit;
    align-items: center;
    width: 100%;
}
.link-image {
    max-width: 4em;
    max-height: 4em;
    border-radius: 50%;
    background-color: white;
}
.big-text {
    padding-left: 30px;
    color: rgb(22, 0, 32);
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 !important;
    font-family: "Raleway", sans-serif;
}
.small-text {
    padding-left: 20px;
    width: 100%;
    color: rgb(22, 0, 32);
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 !important;

    font-family: "Raleway", sans-serif;
}